<div style="max-width: 300px;">
<h1>{{ title }}</h1>

<form class="ui form">
  <div class="field">
    <label>User Name</label>
    <input #username type="text" placeholder="User Name">
  </div>
  <div class="field">
    <label>Password</label>
    <input #password type="text" placeholder="Password">
  </div>
  <button class="ui button" (click)="client.login(username.value, password.value)">Login</button>
</form>

</div>