<h1>{{ title }}</h1>




<hr />

Books on page
<select [(ngModel)]="limit" class="ui dropdown" (change)="getBooks(offset, $event.target.value)">
  <option value="25">25</option>
  <option value="50">50</option>
  <option value="100">100</option>
  <option value="500">500</option>
</select>


<page-navigator [offset]="offset" [limit]="limit" [count]="booksCount" (onPageChange)="pageChanged($event)"></page-navigator>

<hr />

<div *ngFor="let book of books">

<div class="book-container">
  <div class="book-thumb">
    <div style="position: absolute; margin-top: -13px; margin-left: 160px;  width: 40px; height: 35px; background: #FFF467; font-size: 18px; padding: 5px; cursor: help" title="Rating">{{ (book['Book-Rating'] ? book['Book-Rating'] : 0) | number:'1.1-1' }}</div>
    <img [src]="book['Image-URL-M']" border="0" title="{{ book['Book-Title'] }}" alt="{{ book['Book-Title'] }}"  />
  </div>
  <div class="book-info title">{{ book['Book-Title'] }}</div>
  <div class="book-info author">by {{ book['Book-Author'] }}</div>
  <div class="book-info">
    <hr />
    <i>Published in  {{ book['Year-Of-Publication'] }}
    
    <span [hidden]="!book['Publisher']"> ({{ book['Publisher'] }})</span></i>
  </div>
</div>

</div>

<div class="clear"></div>
