.book-container {
	float: left; 
	margin-right: 30px;
	height: 380px;
	width: 200px;
}

.book-thumb {
	width: 100%;
	height: 200px;
	text-align: center;
	background: #FAFAFA;
	background-image: url(../../assets/placeholder.png);
	background-position: center;
	background-repeat: no-repeat;
	border: 1px solid #e1e1e1;
	border-bottom: 0;
	padding-top: 12px;
}
.book-thumb {
	height: 184px;
}

.book-info {
	padding-top: 3px;
	font-size: 12px;
}
.book-info.title {
	font-size: 16px;
}
.book-info.author {
	font-size: 13px;
}
.book-info hr {
	margin: 3px;
	padding: 0;
}