<h1>{{ title }}</h1>

<hr />

<page-navigator [offset]="offset" [limit]="limit" [count]="booksCount" (onPageChange)="pageChanged($event)"></page-navigator>

<hr />

<table class="ui celled table">
  <thead>
    <tr>
      <th>ISBN</th>
      <th>Title</th>
      <th>Author</th>
      <th>Year</th>
      <th>Publisher</th>
      <th></th>
    </tr>
  </thead>
  <tbody *ngFor="let book of books">
    <tr *ngIf="book['ISBN'] && !book.editMode">
      <td>{{ book['ISBN'] }}</td>
      <td>{{ book['Book-Title'] }}</td>
      <td>{{ book['Book-Author'] }}</td>
      <td>{{ book['Year-Of-Publication'] }}</td>
      <td>{{ book['Publisher'] }}</td>
      <td><button class="ui button small" (click)="book.editMode = true">Edit</button></td>
    </tr>
    <tr *ngIf="!book['ISBN'] || book.editMode">
      <td style="border: 2px solid silver; border-right: 0;" colspan="5">
        <div class="ui form">
        <div class="fields">

          <div class="nine wide field">
            <label>Title</label>
            <input type="text" [(ngModel)]="book['Book-Title']" value="{{ book['Book-Title'] }}">
          </div>
          <div class="two wide field">
            <label>Author</label>
            <input type="text" [(ngModel)]="book['Book-Author']" value="{{ book['Book-Author'] }}">
          </div>
          <div class="two wide field">
            <label>Year</label>
            <input type="number" [(ngModel)]="book['Year-Of-Publication']" value="{{ book['Year-Of-Publication'] }}">
          </div>
          <div class="four wide field">
            <label>Publisher</label>
            <input type="text" [(ngModel)]="book['Publisher']" value="{{ book['Publisher'] }}">
          </div>
        </div>
        <div class="fields">
          <div class="six wide field">
            <label>URL Image Small</label>
            <input type="text" [(ngModel)]="book['Image-URL-S']" value="{{ book['Image-URL-S'] }}">
          </div>
          <div class="six wide field">
            <label>URL Image Medium</label>
            <input type="text" [(ngModel)]="book['Image-URL-M']" value="{{ book['Image-URL-M'] }}">
          </div>
          <div class="six wide field">
            <label>URL Image Large</label>
            <input type="text" [(ngModel)]="book['Image-URL-L']" value="{{ book['Image-URL-L'] }}">
          </div>
        </div>

        </div>
      </td>
      <td style="border: 2px solid silver; border-left: 0;">
          <div *ngIf="book['ISBN']">
            <button class="ui positive button small" (click)="editBook(book); book.editMode = false">S a v e</button>
            <br /><br />
            <button class="ui button small" (click)="book.editMode = false">Cancel</button>
            <br /><br />
            <button class="ui red button small" (click)="deleteBook(book); book.editMode = false">Delete</button>
          </div>
          <div *ngIf="!book['ISBN']">
            <button class="ui positive button small" (click)="createBook(book)" *ngIf="!book['ISBN']" [disabled]="book.editMode === null">Create</button>
          </div>
      </td>
    </tr>
  </tbody>
</table>

<div class="clear"></div>
