<div class="ui secondary pointing menu">

  <a class="item" routerLink="/overview" routerLinkActive="active">
    Gallery
  </a>
  <a class="item" routerLink="/books" routerLinkActive="active" *ngIf="client.loggedIn()">
    Books
  </a>
  <a class="item" routerLink="/users" routerLinkActive="active" *ngIf="client.loggedIn()">
    Users
  </a>
  <div class="right menu">
    <a class="ui item" routerLink="/login" routerLinkActive="active" *ngIf="!client.loggedIn()">Login</a>
    <a class="ui item" *ngIf="client.loggedIn()" (click)="client.logout()">Logout</a>
  </div>
</div>
<div class="loading-overlay" *ngIf="loading">
    <!-- show something fancy here, here with Angular 2 Material's loading bar or circle -->
    Loading...
</div>

<div class="contents">
  <router-outlet></router-outlet>
</div>
