<h1>{{ title }}</h1>

<hr />

<page-navigator [offset]="offset" [limit]="limit" [count]="usersCount" (onPageChange)="pageChanged($event)"></page-navigator>

<hr />

<table class="ui celled table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Location</th>
      <th>Age</th>
      <th></th>
    </tr>
  </thead>
  <tbody *ngFor="let user of users">
    <tr *ngIf="user['User-ID'] && !user.editMode">
      <td>{{ user['User-ID'] }}</td>
      <td>{{ user['Location'] }}</td>
      <td>{{ user['Age'] }}</td>
      <td><button class="ui button small" (click)="user.editMode = true">Edit</button></td>
    </tr>
    <tr *ngIf="!user['User-ID'] || user.editMode">
      <td style="border: 2px solid silver; border-right: 0;" colspan="3">
        <div class="ui form">
        <div class="fields">
          <div class="nine wide field">
            <label>Location</label>
            <input type="text" [(ngModel)]="user['Location']" value="{{ user['Location'] }}">
          </div>
          <div class="two wide field">
            <label>Age</label>
            <input type="number" [(ngModel)]="user['Age']" value="{{ user['Age'] }}">
          </div>
        </div>

        </div>
      </td>
      <td style="border: 2px solid silver; border-left: 0;">
          <div *ngIf="user['User-ID']">
            <button class="ui positive button small" (click)="editUser(user); user.editMode = false">S a v e</button>
            <br /><br />
            <button class="ui button small" (click)="user.editMode = false">Cancel</button>
            <br /><br />
            <button class="ui red button small" (click)="deleteUser(user); user.editMode = false">Delete</button>
          </div>
          <div *ngIf="!user['User-ID']">
            <button class="ui positive button small" (click)="createUser(user)" *ngIf="!user['User-ID']" [disabled]="user.editMode === null">Create</button>
          </div>
      </td>
    </tr>
  </tbody>
</table>

<div class="clear"></div>
